In [1]:
#Explane with an example each when to use for loop and while loop

In [2]:
 ## ANS>>The major difference between for loop and the while loop is that for loop is used 
##when the number of iterations is known, whereas execution is done in the while loop
##until the statement in the program is proved wrong.

In [3]:
l=["bihar","delhi","mumbai","punjab"]
for i in l :
    print(i)
else :
    print("it print when for loop complet itself")

bihar
delhi
mumbai
punjab
it print when for loop complet itself

In [4]:
## using while loop

In [11]:
# question no. 2

In [1]:
## write a python program to print the sum and product of the first 10 natural number using for and while loop

In [10]:
sum = 0
for i in range(1,11) :
    sum = sum +i
sum

55

In [ ]:
prod = 1
for i in range(1,11) :
    prod = prod*i
prod

In [ ]:
n = 10 
a = 1
sum = 0
while a <= n:
    sum = sum + a
    a = a+1
sum

In [ ]:
n = 10 
a = 1
prod = 1
while a <= n:
    prod = prod*1
    
prod

In [ ]:
# Question no. 3

In [ ]:
unit = int(input("Enter your unit"))
if unit <=100:
    bill = unit*4.5
elif unit >=101 and unit <= 200 :
    bill = 450 + ((unit -100))*6
elif unit >=201 and unit <=300 :
    bill = 450 + 600 + ((unit -200))
else :
                  bill = 450+600+1000+((unit-300)*20)
                  
print(bill)

In [ ]:
# question number 5

In [1]:
srt = "I want to become a data scientist"
count=0
i=0
for i in range(len(srt)):
    if srt[i]=="a" or srt[i]=="e" or srt[i]=="i" or srt[i]=="o" or srt[i]=="u" :
        count+=1
    

print(count)

11

In [2]:
# Question no.4

In [1]:
l=[]
for i in range(1,101):
    if i%4==0 or i%5==0:
        l.append(i)
l

[4,
 5,
 8,
 10,
 12,
 15,
 16,
 20,
 24,
 25,
 28,
 30,
 32,
 35,
 36,
 40,
 44,
 45,
 48,
 50,
 52,
 55,
 56,
 60,
 64,
 65,
 68,
 70,
 72,
 75,
 76,
 80,
 84,
 85,
 88,
 90,
 92,
 95,
 96,
 100]

In [ ]:
l=[]
a=1
while a<=100:
    if a%4==0 or a%5==0:
        l.append(a)       
    a=a+1
a